<div class="row" ng-init="vm.getAuthors()">
    <div class="col-lg-12">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Photo</th>
                <th>Full Name</th>
                <th>Born</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="author in vm.authors">
                <td>{{$index + 1}}</td>
                <td>
                    <div class="img-author">
                        <img ng-show="author.metafields[1].value" ng-src="{{author.metadata.photo.url}}" width="50">
                        <img ng-show="!author.metafields[1].value" ng-src="{{vm.DEFAULT_IMAGE}}" width="50">
                    </div>
                </td>
                <td><a ui-sref="admin.authors.edit({slug: author.slug})">{{author.metadata.name}}</a></td>
                <td>{{author.metadata.born | date}}</td>
                <td>
                    <button class="btn btn-default btn-sm" ng-click="vm.removeAuthor(author.slug)"><i class="fa fa-remove"></i></button>
                </td>
            </tr>
        </table>
        <a ui-sref="admin.authors.add" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Author</a>
    </div>
</div>