<!-- Page Content -->
<div id="shop" class="container" ui-view></div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-left">
                <span class="footer-logo">
                    <img src="https://cosmicjs.com/images/logo.svg" width="28" height="28"><a href="https://cosmicjs.com/">Proudly powered by Cosmic JS</a>
                </span>
            </div>
            <div class="col-lg-4 text-center">
                <span class="">Copyright <i class="fa fa-copyright"></i> Emoji App 2017.</span>
            </div>
        </div>
    </footer>

</div>