<div id="main" class="welcome-page" style="{}">
<section id="top" class="one dark" ng-style="{
'background-image': ('url(\'' + homePage.metadata.background.url + '\')'),
'background-size': 'cover',
'background-position': 'center',
'background-repeat': 'no-repeat',
'height': (innerHeight - 160) + 'px'
}">
	<div class="container">
		<header ng-bind-html="homePage.metadata.home_text">
			<h2 class="alt">Hi! It is website for <strong>Photographers</strong><br>
				You can create portfolio</h2>

			<p>Please <a ui-sref="register">register</a> or <a ui-sref="login">log in</a>.
				<br></p>
		</header>

		<footer>
			<a ui-sref="register" class="button scrolly">Register</a>
			<a ui-sref="login" class="button scrolly" style="background-color: rgba(88, 63, 68, 0.99);">Log In</a>
		</footer>
		<br>
	</div>
</section>

<!-- Footer -->
<div id="footer" class="home-footer">

	<!-- Copyright -->
	<ul class="copyright">
		<li><img class="cosmic-logo" src="https://cosmicjs.com/images/logo.svg" width="20" height="20"><a href="https://cosmicjs.com/">Proudly powered by Cosmic JS</a></li><li>Copyright: <i class="fa fa-copyright"></i> Portfolio Platform 2017</li>
	</ul>

</div>
</div>