<section id="portfolio" class="two">
	<div class="container">

		<header>
			<h2>Projects</h2>
		</header>

		<p ng-bind-html="vm.portfolio.metadata.project_text"></p>

		<div class="row">
			<div class="4u 12u$(mobile)" ng-repeat="projects in vm.projectsChunk">
				<article class="item" ng-repeat="project in projects">
					<a href="" class="image fit"><img ng-src="{{project.metadata.image.url}}" alt="" /></a>
					<header>
						<h3>{{project.metadata.name}}</h3>
					</header>
				</article>
			</div>
		</div>

	</div>
</section>