<section id="top" class="one dark" ng-style="{
'background-image': ('url(\'' + vm.portfolio.metadata.intro_image.url + '\')'),
'background-size': 'cover',
'background-position': 'center',
'background-repeat': 'no-repeat',
'height': (vm.innerHeight - 160) + 'px'
}">
	<div class="container">

		<header ng-bind-html="vm.portfolio.metadata.intro"></header>

		<footer>
			<a ui-sref="portfolio.projects" class="button scrolly">View Projects</a>
		</footer>

	</div>
</section>

<!-- Footer -->
<div id="footer" style="margin: 0">

	<!-- Copyright -->
	<ul class="copyright">
		<li><img class="cosmic-logo" src="https://cosmicjs.com/images/logo.svg" width="20" height="20"><a href="https://cosmicjs.com/">Proudly powered by Cosmic JS</a></li><li>Copyright: <i class="fa fa-copyright"></i> Portfolio Platform 2017</li>
	</ul>

</div>