<section id="portfolio" class="two">
	<div class="container">

		<header>
			<h2>Projects</h2>
		</header>

		<p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
			egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
			Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
			fusce hendrerit lacus ridiculus.</p>

		<div class="row">
			<div class="4u 12u$(mobile)" ng-repeat="projects in vm.projectsChunk">
				<article class="item" ng-repeat="project in projects">
					<a href="" class="image fit"><img ng-src="{{project.metadata.image.url}}" alt="" /></a>
					<header>
						<h3>{{project.metadata.name}}</h3>
					</header>
				</article>
			</div>
		</div>

	</div>
</section>