<section id="contact" class="four">
	<div class="container">

		<header>
			<h2>Settings</h2>
		</header>

		<uib-tabset active="active">
			<uib-tab index="0" heading="Intro">

				<form>
					<div class="row">
						<div class="12u$" text-angular="" ta-toolbar="vm.toolbarEditor" ng-model="vm.portfolio.metafields[4].value"></div>
						<div class="12u$">
							<input type="submit" value="Save" ng-click="vm.updatePortfolio()">
						</div>
					</div>
				</form>

			</uib-tab>
			<uib-tab index="1" heading="Projects">
				<div class="row">
					<div class="12u$">
						<button class=""><i class="fa fa-plus"></i> Add projects</button>
					</div>
				</div>

				<div class="row">
					<div class="4u 12u$(mobile)">
						<article class="item">
							<a href="#" class="image fit"><img src="/dist/img/pic02.jpg" alt="" /></a>
							<header>
								<h3>Ipsum Feugiat</h3>
							</header>
						</article>
						<article class="item">
							<a href="#" class="image fit"><img src="/dist/img/pic03.jpg" alt="" /></a>
							<header>
								<h3>Rhoncus Semper</h3>
							</header>
						</article>
					</div>
					<div class="4u 12u$(mobile)">
						<article class="item">
							<a href="#" class="image fit"><img src="/dist/img/pic04.jpg" alt="" /></a>
							<header>
								<h3>Magna Nullam</h3>
							</header>
						</article>
						<article class="item">
							<a href="#" class="image fit"><img src="/dist/img/pic05.jpg" alt="" /></a>
							<header>
								<h3>Natoque Vitae</h3>
							</header>
						</article>
					</div>
					<div class="4u$ 12u$(mobile)">
						<article class="item">
							<a href="#" class="image fit"><img src="/dist/img/pic06.jpg" alt="" /></a>
							<header>
								<h3>Dolor Penatibus</h3>
							</header>
						</article>
						<article class="item">
							<a href="#" class="image fit"><img src="/dist/img/pic07.jpg" alt="" /></a>
							<header>
								<h3>Orci Convallis</h3>
							</header>
						</article>
					</div>
				</div>


			</uib-tab>
			<uib-tab index="2" heading="About Me">

				<form method="post">
					<div class="row">
						<div class="12u$">
							<div class="12u$" text-angular="" ta-toolbar="vm.toolbarEditor" ng-model="vm.portfolio.metafields[5].value"></div>
						</div>
						<div class="12u$">
							<input type="submit" value="Save" ng-click="vm.updatePortfolio()">
						</div>
					</div>
				</form>

			</uib-tab>
			<uib-tab index="3" heading="Contact">
				<form method="post">
					<div class="row">
						<div class="12u$">
							<div class="12u$" text-angular="" ta-toolbar="vm.toolbarEditor" ng-model="vm.portfolio.metafields[6].value"></div>
						</div>
						<div class="12u$">
							<input type="submit" value="Save" ng-click="vm.updatePortfolio()">
						</div>
					</div>
				</form>
			</uib-tab>
		</uib-tabset>



	</div>
</section>
