<section id="contact" class="four">
	<div class="container">

		<header>
			<h2>Contact</h2>
		</header>

		<div ng-bind-html="vm.portfolio.metadata.contact"></div>

		<form action="{{vm.contact}}" method="post" enctype="text/plain">
			<div class="row">
				<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
				<div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
				<div class="12u$">
					<textarea name="message" placeholder="Message"></textarea>
				</div>
				<div class="12u$">
					<input type="submit" value="Send Message" />
				</div>
			</div>
		</form>

	</div>
</section>
