<section id="contact" class="four">
	<div class="container">

		<header>
			<h2>Settings</h2>
		</header>

		<uib-tabset active="active">
			<uib-tab index="0" heading="Intro">

				<form>
					<br>
					<div class="text-center"
						 flow-init="vm.flowConfig"
						 flow-name="vm.flowIntro">
						<div>
							<img ng-if="vm.flowIntro.files.length" flow-img="vm.flowIntro.files[0]" class="img-responsive">
							<uib-progressbar ng-if="vm.uploadProgress" class="event-progress active" max="100" value="vm.uploadProgress"></uib-progressbar>
						</div>
						<br>
						<button class="btn btn-default btn-lg" flow-btn>Change Image</button>
						<button ng-show="vm.flowIntro.files.length" class="btn btn-primary btn-lg" ng-click="vm.uploadIntroImage()">Upload</button>
					</div>
					<br>
					<div class="row">
						<div class="12u$" text-angular="" ta-toolbar="vm.toolbarEditor" ng-model="vm.portfolio.metafields[4].value"></div>
						<div class="12u$">
							<input type="submit" value="Save" ng-click="vm.updatePortfolio()">
						</div>
					</div>
				</form>

			</uib-tab>
			<uib-tab index="1" heading="Projects">
				<div class="row">
					<div class="12u$">
						<div class="12u$" text-angular="" ta-toolbar="vm.toolbarEditor" ng-model="vm.portfolio.metafields[10].value"></div>
					</div>
					<div class="12u$">
						<input type="submit" value="Save" ng-click="vm.updatePortfolio()">
					</div>
				</div>

				<div class="row">
					<div class="12u$">
						<button ng-click="vm.openAddProjectDialog()"><i class="fa fa-plus"></i> Add projects</button>
					</div>
				</div>

				<div class="row">
					<div class="4u 12u$(mobile)" ng-repeat="projects in vm.projectsChunk">
						<article class="item text-right" ng-if="project.metadata.name !== 'example'" ng-repeat="project in projects">
							<a href="" ng-click="vm.removeProject(project.slug)"><i class="fa fa-remove"></i></a>
							<a href="" class="image fit" ng-click="vm.openEditProjectDialog(project.slug)">
								<img ng-src="{{project.metadata.image.url}}" alt="" />
							</a>
							<header class="text-center" ng-click="vm.openEditProjectDialog(project.slug)">
								<h3>{{project.metadata.name}}</h3>
							</header>
						</article>
					</div>
				</div>


			</uib-tab>
			<uib-tab index="2" heading="About Me">
				<br>
				<div class="text-center"
					 flow-init="vm.flowConfig"
					 flow-name="vm.flowAbout">
					<div>
						<img ng-if="vm.flowAbout.files.length" flow-img="vm.flowAbout.files[0]" class="img-responsive">
						<uib-progressbar ng-if="vm.uploadProgress" class="event-progress active" max="100" value="vm.uploadProgress"></uib-progressbar>
					</div>
					<br>
					<button class="btn btn-default btn-lg" flow-btn>Change Image</button>
					<button ng-show="vm.flowAbout.files.length" class="btn btn-primary btn-lg" ng-click="vm.uploadAboutImage()">Upload</button>
				</div>
				<br>
				<form method="post">
					<div class="row">
						<div class="12u$">
							<div class="12u$" text-angular="" ta-toolbar="vm.toolbarEditor" ng-model="vm.portfolio.metafields[5].value"></div>
						</div>
						<div class="12u$">
							<input type="submit" value="Save" ng-click="vm.updatePortfolio()">
						</div>
					</div>
				</form>

			</uib-tab>
			<uib-tab index="3" heading="Contact">
				<form method="post">
					<div class="row">
						<div class="12u$">
							<div class="12u$" text-angular="" ta-toolbar="vm.toolbarEditor" ng-model="vm.portfolio.metafields[6].value"></div>
						</div>
						<div class="12u$">
							<input type="submit" value="Save" ng-click="vm.updatePortfolio()">
						</div>
					</div>
				</form>
			</uib-tab>
			<uib-tab index="4" heading="Home Page" ng-if="vm.portfolio.metadata.role === 'ROLE_ADMIN'">
				<br>
				<div class="text-center"
					 flow-init="vm.flowConfig"
					 flow-name="vm.flowHomePage">
					<div>
						<img ng-if="vm.flowHomePage.files.length" flow-img="vm.flowHomePage.files[0]" class="img-responsive">
						<uib-progressbar ng-if="vm.uploadProgress" class="event-progress active" max="100" value="vm.uploadProgress"></uib-progressbar>
					</div>
					<br>
					<button class="btn btn-default btn-lg" flow-btn>Change Image</button>
					<button ng-show="vm.flowHomePage.files.length" class="btn btn-primary btn-lg" ng-click="vm.uploadHomePageImage()">Upload</button>
				</div>
				<br>
				<form method="post">
					<div class="row">
						<div class="12u$">
							<div class="12u$" text-angular="" ta-toolbar="vm.toolbarEditor" ng-model="vm.homePage.metafields[0].value"></div>
						</div>
						<div class="12u$">
							<input type="submit" value="Save" ng-click="vm.updateHomePage()">
						</div>
					</div>
				</form>
			</uib-tab>
			<uib-tab index="5" heading="Global">
				<br>
				<div class="text-center"
					 flow-init="vm.flowConfig"
					 flow-name="vm.flowAvatar">
					<div>
						<img ng-if="vm.flowAvatar.files.length" flow-img="vm.flowAvatar.files[0]" class="img-responsive">
						<uib-progressbar ng-if="vm.uploadProgress" class="event-progress active" max="100" value="vm.uploadProgress"></uib-progressbar>
					</div>
					<br>
					<button class="btn btn-default btn-lg" flow-btn>Change Avatar</button>
					<button ng-show="vm.flowAvatar.files.length" class="btn btn-primary btn-lg" ng-click="vm.uploadAvatar()">Upload</button>
				</div>
				<br>
				<form name="userForm">
					<div class="row">
						<div class="6u 12u$(mobile)"><input type="text" name="firstName" ng-model="vm.portfolio.metafields[0].value" placeholder="First Name" required></div>
						<div class="6u$ 12u$(mobile)"><input type="text" name="lastName" ng-model="vm.portfolio.metafields[1].value" placeholder="Last Name" required></div>
						<div class="6u$ 12u$(mobile)"><input type="email" name="email" ng-model="vm.portfolio.metafields[2].value" placeholder="Email" required></div>
						<div class="12u$" ng-if="userForm.$valid">
							<input type="submit" value="Save" ng-click="vm.updatePortfolio()">
						</div>
					</div>
				</form>
			</uib-tab>

		</uib-tabset>



	</div>
</section>
